<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potato storage fee</title>
</head>
<body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Product ID<input type = "text" name = "Product ID " /></p>
         <p>Client ID<input type = "text" name = "Client ID " /></p>
         <p>Employee ID<input type = "text" name = "Employee ID" /></p>
         <p>Storage Fee<input type ="text" name = "Storage Fee" /></p>
          <p>Date <input type ="date" name = "Date" /></p>
         <p><input type="radio" name="source" value="word of mouth"> word of mouth<br></p>
         <p><input type="radio" name="source" value="bloomberg chat"> bloomberg chat<br></p>
         <p><input type="radio" name="source" value="client meeting"> client meeting</p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
